<a href="https://colab.research.google.com/github/Elizaluckianchikova/solanumlycopersicum/blob/main/solanumlycopersicum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Slycopersicum (1).csv to Slycopersicum (1).csv

In [ ]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('Slycopersicum.csv')
#type(df)
#df1
#df1.columns
#circRNA_ID= df["circRNA_ID"]
#circRNA_ID
#gene_id=df['gene_id']
#gene_id
#circRNA_type=df['circRNA_type']
#junction_reads=df['junction_reads']
#junction_reads
#junction_reads_ratio=df['junction_reads_ratio']
#junction_reads_ratio
#start=df['start']
#start
#end=df['end']
#end
df1

FileNotFoundError: ignored

In [ ]:
df1_subset = df1[['circRNA_ID', 'gene_id', 'junction_reads','circRNA_type','junction_reads_ratio','start','end']]
df1_subset

,circRNA_ID,gene_id,junction_reads,circRNA_type,junction_reads_ratio,start,end
0,Slyco_SL2.40ch00:12182254|12182577,Solyc00g024150.2.iTAGv2.3,3,exon,0.001,12182254,12182577
1,Slyco_SL2.40ch00:12182705|12182860,Solyc00g024150.2.iTAGv2.3,2,exon,0.007,12182705,12182860
2,Slyco_SL2.40ch00:13531975|13532218,NaN,8,intergenic_region,0.011,13531975,13532218
3,Slyco_SL2.40ch00:14602257|14602538,Solyc00g071180.2.iTAGv2.3,4,exon,0.005,14602257,14602538
4,Slyco_SL2.40ch00:18121224|18121396,Solyc00g174330.2.iTAGv2.3,3,exon,0.000,18121224,18121396
...,...,...,...,...,...,...,...
2421,Slyco_SL2.40ch12:65123409|65194684,NaN,2,intergenic_region,0.006,65123409,65194684
2422,Slyco_SL2.40ch12:65150301|65155976,NaN,20,intergenic_region,0.137,65150301,65155976
2423,Slyco_SL2.40ch12:9071506|9071823,NaN,2,intergenic_region,0.013,9071506,9071823
2424,Slyco_SL2.40ch12:9076014|9076395,NaN,2,intergenic_region,0.009,9076014,9076395
2425,Slyco_SL2.40ch12:962133|962657,NaN,2,intergenic_region,0.002,962133,962657

In [ ]:
import pandas as pd
import numpy as np
df2 = pd.read_excel('annotation.xlsx')
#type(df)
df2
#df.columns
#Gene_ID=df['Gene_ID']
#Gene_ID
#annotation=df['annotation']
#annotation
#ITAG=df['ITAG']
#ITAG

,Gene ID,ITAG,region,start,end,ratio,G,H,Annotation
0,Solyc00g005000.2.1,ITAG_interpro,polypeptide_region,98.0,466.0,.,+,.,Name=IPR001461;Note=Peptidase A1
1,Solyc00g005040.2.1,ITAG_interpro,polypeptide_region,1.0,101.0,.,+,.,Name=IPR014710;Note=RmlC-like jelly roll fold
2,Solyc00g005050.2.1,ITAG_superfamily,polypeptide_region,1.0,129.0,.,+,.,Name=SSF50729;Note=PH domain-like
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solyc00g019620.1.1,ITAG_blastp_trembl,match,459.0,706.0,234,+,.,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...
...,...,...,...,...,...,...,...,...,...
2993,Solyc00g034810.1.1,ITAG_blastp_trembl,match,17.0,225.0,261,+,.,query_length=229;subject_id=B9RSG1;Name=B9RSG1...
2994,Solyc00g034810.1.1,ITAG_blastp_refseq_pep,match,17.0,225.0,261,+,.,query_length=229;subject_id=XP_002516680.1;Nam...
2995,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,17.0,222.0,245,+,.,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...
2996,Solyc00g034810.1.1,ITAG_blastp_ath_pep,match,17.0,222.0,245,+,.,query_length=229;subject_id=AT1G64480.1;Name=C...
2997,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,20.0,223.0,236,+,.,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...

In [ ]:
import pandas as pd
import numpy as np
df2 = pd.read_excel('annotation.xlsx')
df2
#df2.columns('annotation')

,Gene ID,ITAG,region,start,end,ratio,G,H,Annotation
0,Solyc00g005000.2.1,ITAG_interpro,polypeptide_region,98.0,466.0,.,+,.,Name=IPR001461;Note=Peptidase A1
1,Solyc00g005040.2.1,ITAG_interpro,polypeptide_region,1.0,101.0,.,+,.,Name=IPR014710;Note=RmlC-like jelly roll fold
2,Solyc00g005050.2.1,ITAG_superfamily,polypeptide_region,1.0,129.0,.,+,.,Name=SSF50729;Note=PH domain-like
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solyc00g019620.1.1,ITAG_blastp_trembl,match,459.0,706.0,234,+,.,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...
...,...,...,...,...,...,...,...,...,...
2993,Solyc00g034810.1.1,ITAG_blastp_trembl,match,17.0,225.0,261,+,.,query_length=229;subject_id=B9RSG1;Name=B9RSG1...
2994,Solyc00g034810.1.1,ITAG_blastp_refseq_pep,match,17.0,225.0,261,+,.,query_length=229;subject_id=XP_002516680.1;Nam...
2995,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,17.0,222.0,245,+,.,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...
2996,Solyc00g034810.1.1,ITAG_blastp_ath_pep,match,17.0,222.0,245,+,.,query_length=229;subject_id=AT1G64480.1;Name=C...
2997,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,20.0,223.0,236,+,.,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...

In [ ]:
df2_subset = df2[['Gene ID','Annotation','ITAG']]
df2_subset

,Gene ID,Annotation,ITAG
0,Solyc00g005000.2.1,Name=IPR001461;Note=Peptidase A1,ITAG_interpro
1,Solyc00g005040.2.1,Name=IPR014710;Note=RmlC-like jelly roll fold,ITAG_interpro
2,Solyc00g005050.2.1,Name=SSF50729;Note=PH domain-like,ITAG_superfamily
3,NaN,NaN,NaN
4,Solyc00g019620.1.1,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,ITAG_blastp_trembl
...,...,...,...
2993,Solyc00g034810.1.1,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,ITAG_blastp_trembl
2994,Solyc00g034810.1.1,query_length=229;subject_id=XP_002516680.1;Nam...,ITAG_blastp_refseq_pep
2995,Solyc00g034810.1.1,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,ITAG_blastp_swissprot
2996,Solyc00g034810.1.1,query_length=229;subject_id=AT1G64480.1;Name=C...,ITAG_blastp_ath_pep
2997,Solyc00g034810.1.1,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,ITAG_blastp_swissprot

In [ ]:
df2_subset.rename(columns={'Gene ID': 'Gene_ID', 'Annotation': 'annotation', 'ITAG': 'ITAG'}, inplace=True)
df2_subset

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,Gene_ID,annotation,ITAG
0,Solyc00g005000.2.1,Name=IPR001461;Note=Peptidase A1,ITAG_interpro
1,Solyc00g005040.2.1,Name=IPR014710;Note=RmlC-like jelly roll fold,ITAG_interpro
2,Solyc00g005050.2.1,Name=SSF50729;Note=PH domain-like,ITAG_superfamily
3,NaN,NaN,NaN
4,Solyc00g019620.1.1,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,ITAG_blastp_trembl
...,...,...,...
2993,Solyc00g034810.1.1,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,ITAG_blastp_trembl
2994,Solyc00g034810.1.1,query_length=229;subject_id=XP_002516680.1;Nam...,ITAG_blastp_refseq_pep
2995,Solyc00g034810.1.1,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,ITAG_blastp_swissprot
2996,Solyc00g034810.1.1,query_length=229;subject_id=AT1G64480.1;Name=C...,ITAG_blastp_ath_pep
2997,Solyc00g034810.1.1,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,ITAG_blastp_swissprot

In [ ]:
import numpy as np
df1_subset['annotation'] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2_subset['circRNA_ID'] = np.nan

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
#df2_subset['circRNA_ID']

In [ ]:
df_res = pd.concat([df1_subset, df2_subset], axis=1)
df_res

,circRNA_ID,gene_id,junction_reads,circRNA_type,junction_reads_ratio,start,end,annotation,Gene_ID,annotation,ITAG,circRNA_ID
0,Slyco_SL2.40ch00:12182254|12182577,Solyc00g024150.2.iTAGv2.3,3.0,exon,0.001,12182254.0,12182577.0,NaN,Solyc00g005000.2.1,Name=IPR001461;Note=Peptidase A1,ITAG_interpro,NaN
1,Slyco_SL2.40ch00:12182705|12182860,Solyc00g024150.2.iTAGv2.3,2.0,exon,0.007,12182705.0,12182860.0,NaN,Solyc00g005040.2.1,Name=IPR014710;Note=RmlC-like jelly roll fold,ITAG_interpro,NaN
2,Slyco_SL2.40ch00:13531975|13532218,NaN,8.0,intergenic_region,0.011,13531975.0,13532218.0,NaN,Solyc00g005050.2.1,Name=SSF50729;Note=PH domain-like,ITAG_superfamily,NaN
3,Slyco_SL2.40ch00:14602257|14602538,Solyc00g071180.2.iTAGv2.3,4.0,exon,0.005,14602257.0,14602538.0,NaN,NaN,NaN,NaN,NaN
4,Slyco_SL2.40ch00:18121224|18121396,Solyc00g174330.2.iTAGv2.3,3.0,exon,0.000,18121224.0,18121396.0,NaN,Solyc00g019620.1.1,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,ITAG_blastp_trembl,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solyc00g034810.1.1,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,ITAG_blastp_trembl,NaN
2994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solyc00g034810.1.1,query_length=229;subject_id=XP_002516680.1;Nam...,ITAG_blastp_refseq_pep,NaN
2995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solyc00g034810.1.1,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,ITAG_blastp_swissprot,NaN
2996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solyc00g034810.1.1,query_length=229;subject_id=AT1G64480.1;Name=C...,ITAG_blastp_ath_pep,NaN
2997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Solyc00g034810.1.1,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,ITAG_blastp_swissprot,NaN

In [ ]:
#df_res = df1_subset.merge(df2_subset)
#df_res

##############################################

In [ ]:
df_res.to_excel("output.xlsx")

In [ ]:
df2['Annotation'].str.split('\n')

0                      [Name=IPR001461;Note=Peptidase A1]
1         [Name=IPR014710;Note=RmlC-like jelly roll fold]
2                     [Name=SSF50729;Note=PH domain-like]
3                                                     NaN
4       [query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X...
                              ...
2993    [query_length=229;subject_id=B9RSG1;Name=B9RSG...
2994    [query_length=229;subject_id=XP_002516680.1;Na...
2995    [query_length=229;subject_id=Q9FUQ7;Name=CNBL8...
2996    [query_length=229;subject_id=AT1G64480.1;Name=...
2997    [query_length=229;subject_id=Q3HRP5;Name=CNBL2...
Name: Annotation, Length: 2998, dtype: object

In [ ]:
df2_copied = df2.copy()

In [ ]:
df2['Annotation'].str.split('\n')[0:2998]

0                      [Name=IPR001461;Note=Peptidase A1]
1         [Name=IPR014710;Note=RmlC-like jelly roll fold]
2                     [Name=SSF50729;Note=PH domain-like]
3                                                     NaN
4       [query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X...
                              ...
2993    [query_length=229;subject_id=B9RSG1;Name=B9RSG...
2994    [query_length=229;subject_id=XP_002516680.1;Na...
2995    [query_length=229;subject_id=Q9FUQ7;Name=CNBL8...
2996    [query_length=229;subject_id=AT1G64480.1;Name=...
2997    [query_length=229;subject_id=Q3HRP5;Name=CNBL2...
Name: Annotation, Length: 2998, dtype: object

# Тут начало

In [ ]:
df2['Name'] = np.nan
df2['Note'] = np.nan
df2['Other'] = np.nan
df2

,Gene ID,ITAG,region,start,end,ratio,G,H,Annotation,Name,Note,Other
0,Solyc00g005000.2.1,ITAG_interpro,polypeptide_region,98.0,466.0,.,+,.,Name=IPR001461;Note=Peptidase A1,NaN,NaN,NaN
1,Solyc00g005040.2.1,ITAG_interpro,polypeptide_region,1.0,101.0,.,+,.,Name=IPR014710;Note=RmlC-like jelly roll fold,NaN,NaN,NaN
2,Solyc00g005050.2.1,ITAG_superfamily,polypeptide_region,1.0,129.0,.,+,.,Name=SSF50729;Note=PH domain-like,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solyc00g019620.1.1,ITAG_blastp_trembl,match,459.0,706.0,234,+,.,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2993,Solyc00g034810.1.1,ITAG_blastp_trembl,match,17.0,225.0,261,+,.,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,NaN,NaN,NaN
2994,Solyc00g034810.1.1,ITAG_blastp_refseq_pep,match,17.0,225.0,261,+,.,query_length=229;subject_id=XP_002516680.1;Nam...,NaN,NaN,NaN
2995,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,17.0,222.0,245,+,.,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,NaN,NaN,NaN
2996,Solyc00g034810.1.1,ITAG_blastp_ath_pep,match,17.0,222.0,245,+,.,query_length=229;subject_id=AT1G64480.1;Name=C...,NaN,NaN,NaN
2997,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,20.0,223.0,236,+,.,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,NaN,NaN,NaN

In [ ]:
for i in range(df2.shape[0]):
    if type(df2['Annotation'][i]) is str:
        fields = df2['Annotation'][i].split(';')
        other = []
        for f in fields:
            if f.startswith('Name'):
                name_s = f[5:]
                df2['Name'][i] = name_s
            elif f.startswith('Note'):
                note_s = f[5:]
                df2['Note'][i] = note_s
            else:
                other.append(f)

        if len(other) > 0:
            other_s = ';'.join(other)
            df2['Other'][i] = other_s

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2

,Gene ID,ITAG,region,start,end,ratio,G,H,Annotation,Name,Note,Other
0,Solyc00g005000.2.1,ITAG_interpro,polypeptide_region,98.0,466.0,.,+,.,Name=IPR001461;Note=Peptidase A1,IPR001461,Peptidase A1,NaN
1,Solyc00g005040.2.1,ITAG_interpro,polypeptide_region,1.0,101.0,.,+,.,Name=IPR014710;Note=RmlC-like jelly roll fold,IPR014710,RmlC-like jelly roll fold,NaN
2,Solyc00g005050.2.1,ITAG_superfamily,polypeptide_region,1.0,129.0,.,+,.,Name=SSF50729;Note=PH domain-like,SSF50729,PH domain-like,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solyc00g019620.1.1,ITAG_blastp_trembl,match,459.0,706.0,234,+,.,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,Q7Q2X2_ANOGA,AGAP011384-PA (Fragment) OS-Anopheles gambiae ...,query_length=717;subject_id=Q7Q2X2;subject_len...
...,...,...,...,...,...,...,...,...,...,...,...,...
2993,Solyc00g034810.1.1,ITAG_blastp_trembl,match,17.0,225.0,261,+,.,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,B9RSG1_RICCO,Calcineurin B%2C putative OS-Ricinus communis ...,query_length=229;subject_id=B9RSG1;subject_len...
2994,Solyc00g034810.1.1,ITAG_blastp_refseq_pep,match,17.0,225.0,261,+,.,query_length=229;subject_id=XP_002516680.1;Nam...,calcineurin,B%2C putative [Ricinus communis],query_length=229;subject_id=XP_002516680.1;sub...
2995,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,17.0,222.0,245,+,.,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,CNBL8_ARATH,Calcineurin B-like protein 8 OS-Arabidopsis th...,query_length=229;subject_id=Q9FUQ7;subject_len...
2996,Solyc00g034810.1.1,ITAG_blastp_ath_pep,match,17.0,222.0,245,+,.,query_length=229;subject_id=AT1G64480.1;Name=C...,CBL8,| CBL8 (CALCINEURIN B-LIKE PROTEIN 8) calcium...,query_length=229;subject_id=AT1G64480.1;subjec...
2997,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,20.0,223.0,236,+,.,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,CNBL2_ORYSJ,Calcineurin B-like protein 2 OS-Oryza sativa s...,query_length=229;subject_id=Q3HRP5;subject_len...

# Тут конец

In [ ]:
new_df = df2['Annotation'].str.split('/n',expand=True)
new_df

                                                      0     1
0                      Name=IPR001461;Note=Peptidase A1  None
1         Name=IPR014710;Note=RmlC-like jelly roll fold  None
2                     Name=SSF50729;Note=PH domain-like  None
3                                                   NaN   NaN
4     query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...  None
...                                                 ...   ...
2993  query_length=229;subject_id=B9RSG1;Name=B9RSG1...  None
2994  query_length=229;subject_id=XP_002516680.1;Nam...  None
2995  query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...  None
2996  query_length=229;subject_id=AT1G64480.1;Name=C...  None
2997  query_length=229;subject_id=Q3HRP5;Name=CNBL2_...  None

[2998 rows x 2 columns]

In [ ]:
new_df.columns=['name','note']
new_df

                                                   name  note
0                      Name=IPR001461;Note=Peptidase A1  None
1         Name=IPR014710;Note=RmlC-like jelly roll fold  None
2                     Name=SSF50729;Note=PH domain-like  None
3                                                   NaN   NaN
4     query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...  None
...                                                 ...   ...
2993  query_length=229;subject_id=B9RSG1;Name=B9RSG1...  None
2994  query_length=229;subject_id=XP_002516680.1;Nam...  None
2995  query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...  None
2996  query_length=229;subject_id=AT1G64480.1;Name=C...  None
2997  query_length=229;subject_id=Q3HRP5;Name=CNBL2_...  None

[2998 rows x 2 columns]

In [ ]:
df2_copied.fillna(1)
# df2_copied.dropna()

,Gene ID,ITAG,region,start,end,ratio,G,H,Annotation
0,Solyc00g005000.2.1,ITAG_interpro,polypeptide_region,98.0,466.0,.,+,.,Name=IPR001461;Note=Peptidase A1
1,Solyc00g005040.2.1,ITAG_interpro,polypeptide_region,1.0,101.0,.,+,.,Name=IPR014710;Note=RmlC-like jelly roll fold
2,Solyc00g005050.2.1,ITAG_superfamily,polypeptide_region,1.0,129.0,.,+,.,Name=SSF50729;Note=PH domain-like
3,1,1,1,1.0,1.0,1,1,1,1
4,Solyc00g019620.1.1,ITAG_blastp_trembl,match,459.0,706.0,234,+,.,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...
...,...,...,...,...,...,...,...,...,...
2993,Solyc00g034810.1.1,ITAG_blastp_trembl,match,17.0,225.0,261,+,.,query_length=229;subject_id=B9RSG1;Name=B9RSG1...
2994,Solyc00g034810.1.1,ITAG_blastp_refseq_pep,match,17.0,225.0,261,+,.,query_length=229;subject_id=XP_002516680.1;Nam...
2995,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,17.0,222.0,245,+,.,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...
2996,Solyc00g034810.1.1,ITAG_blastp_ath_pep,match,17.0,222.0,245,+,.,query_length=229;subject_id=AT1G64480.1;Name=C...
2997,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,20.0,223.0,236,+,.,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...

In [ ]:
for column in new_df.columns:
    new_df[column] = new_df[column].str.replace(column+'=','')
new_df

                                                   name  note
0                      Name=IPR001461;Note=Peptidase A1  None
1         Name=IPR014710;Note=RmlC-like jelly roll fold  None
2                     Name=SSF50729;Note=PH domain-like  None
3                                                   NaN   NaN
4     query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...  None
...                                                 ...   ...
2993  query_length=229;subject_id=B9RSG1;Name=B9RSG1...  None
2994  query_length=229;subject_id=XP_002516680.1;Nam...  None
2995  query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...  None
2996  query_length=229;subject_id=AT1G64480.1;Name=C...  None
2997  query_length=229;subject_id=Q3HRP5;Name=CNBL2_...  None

[2998 rows x 2 columns]

In [ ]:
final_df = pd.concat([df2,new_df],axis=1)
final_df

,Gene ID,ITAG,region,start,end,ratio,G,H,Annotation,name,note
0,Solyc00g005000.2.1,ITAG_interpro,polypeptide_region,98.0,466.0,.,+,.,Name=IPR001461;Note=Peptidase A1,Name=IPR001461;Note=Peptidase A1,None
1,Solyc00g005040.2.1,ITAG_interpro,polypeptide_region,1.0,101.0,.,+,.,Name=IPR014710;Note=RmlC-like jelly roll fold,Name=IPR014710;Note=RmlC-like jelly roll fold,None
2,Solyc00g005050.2.1,ITAG_superfamily,polypeptide_region,1.0,129.0,.,+,.,Name=SSF50729;Note=PH domain-like,Name=SSF50729;Note=PH domain-like,None
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Solyc00g019620.1.1,ITAG_blastp_trembl,match,459.0,706.0,234,+,.,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,query_length=717;subject_id=Q7Q2X2;Name=Q7Q2X2...,None
...,...,...,...,...,...,...,...,...,...,...,...
2993,Solyc00g034810.1.1,ITAG_blastp_trembl,match,17.0,225.0,261,+,.,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,query_length=229;subject_id=B9RSG1;Name=B9RSG1...,None
2994,Solyc00g034810.1.1,ITAG_blastp_refseq_pep,match,17.0,225.0,261,+,.,query_length=229;subject_id=XP_002516680.1;Nam...,query_length=229;subject_id=XP_002516680.1;Nam...,None
2995,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,17.0,222.0,245,+,.,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,query_length=229;subject_id=Q9FUQ7;Name=CNBL8_...,None
2996,Solyc00g034810.1.1,ITAG_blastp_ath_pep,match,17.0,222.0,245,+,.,query_length=229;subject_id=AT1G64480.1;Name=C...,query_length=229;subject_id=AT1G64480.1;Name=C...,None
2997,Solyc00g034810.1.1,ITAG_blastp_swissprot,match,20.0,223.0,236,+,.,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,query_length=229;subject_id=Q3HRP5;Name=CNBL2_...,None